@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  font-size: 40px;
  font-family: 'Quattrocento', serif;
  color: #ffffff;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.sticky-navbar {
  position: fixed;
  top: 0;
  width: 100%;
  padding-bottom: 10px;
}

h2 {
  font-family: 'Quattrocento', serif;
}

p {
  font-family: 'Quattrocento Sans', sans-serif;
}

.dancing-font {
  font-family: 'Dancing Script', cursive;
}

@media (max-width: 414px) {

  /* Front Page */
  .header-front-page-image {
    padding: 0px;
    margin-top: -5px;
    flex-direction: column;
  } 

  .content-padding{
    padding-left: 20px;
    padding-right: 20px;
    text-align: justify;
  }

  .container-1-main-page {
    flex-direction: column-reverse;
  }

  .container-1-main-page-heading {
    margin-top: -60px;
    margin-right: 20px;
    margin-left: 20px;
    text-align: justify;
    font-size: 20px;
    margin-bottom: 60px;
  }

  .container-1-main-page-text {
    margin-right: 20px;
    margin-left: 20px;
    font-size: 30px;
  }

  .container-1-main-page-image {
    margin-right: 20px;
    margin-left: 30px;
    align-items: center;
    margin-top: -160px;
    height: 300px;
    width: 300px;
  }

  .container-2-main-page {
    flex-direction: column;
  }

  .container-2-main-page-image {
    margin-top: -160px;
    margin-right: 40px;
    height: 300px;
    width: 300px;
  }

  .container-2-main-page-heading {
    margin-top: -60px;
    margin-right: 20px;
    margin-left: 20px;
    text-align: justify;
    font-size: 20px;
    margin-bottom: 60px;
  }

  .container-2-main-page-text {
    margin-right: 20px;
    margin-left: 20px;
    font-size: 30px;
  }

  .heading-padding {
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
  }

  .header-text {
    letter-spacing: 2px;
  }

  .undiscovered-wildlife-images-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .undiscovered-wildlife-images {
    margin-bottom: 20px;
    width: 200px;
    height: 350px;
  }

  .four-images-main-page {
    padding: 5px;
  }

  .four-images-main-page-left {
    height: 240px;
    width: 180px;
  }

  .four-images-main-page-right {
    height: 150px;
    width: 180px;
  }

  .four-images-main-page-image3 {
    margin-top: 10px;
  }

  .four-images-main-page-image4 {
    margin-top: -80px;
    margin-right: 20px;
  }

  h1{
    font-size: 20px;
  }

  /* About us */
  .about-us-container {
    flex-direction: column;
    margin-top: 120px;
  }

  .about-us-text {
    margin-top: -10px;
    padding:18px;
    text-align: justify;
    margin-bottom: 10px;
  }

  .about-us-image {
    padding: 18px;
  }

  /* Services */
  .services-container {
    flex-direction: column;
    margin-top: 43px;
  }

  .services-container-images {
    border: none;
    border-radius: 0px;
  }

  .services-container-image-2 {
    margin-bottom: -48px;
  }

  /* Adventure */
  .adventure-container {
    flex-direction: column;
  }

  .adventure-container-2 {
    flex-direction: column-reverse;
  }

  .adventure-container-text-1 {
    margin: 20px;
    font-size: 18px;
    margin-bottom: 0px;
  }

  .adventure-three-images {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .adventure-three-images-image {
    margin-bottom: 20px;
    width: 200px;
    height: 350px;
  }

  .serinity-heading {
    margin: 40px;
    text-align: center;
    margin-bottom: 10px;
  }

  .serinity-container {
    margin-top: 10px;
  }

  .serinity-text {
    margin: 20px;
    margin-bottom: -100px;
  }

  .serinity-image {
    margin: 20px;
    height: 400px;
    width: 350px;
  }

  .serinity-image-container {
    align-items: center;
  }

  /* Contact */
  .contact-list-item {
    font-size: 20px;
    margin-bottom: 5px;
  }

  .contact-list-item-last {
    margin-bottom: 320px;
  }

}



