@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  font-size: 40px;
  font-family: 'Quattrocento', serif;
  color: #ffffff;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.sticky-navbar {
  position: fixed;
  top: 0;
  width: 100%;
  padding-bottom: 10px;
}
h2 {
  font-family: 'Quattrocento', serif;
}
p {
  font-family: 'Quattrocento Sans', sans-serif;
}
.dancing-font {
  font-family: 'Dancing Script', cursive;
}




